.container {
    text-align: center;
    margin-top: 50px;
  }
  
  select, button {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
  }
  
  button {
    cursor: pointer;
  }
  
  #resultat {
    margin-top: 20px;
    font-size: 18px;
  }
  